.about-wrapper {
  @include media(desktop) {
  }
}

.about-section {
  padding-top: 80px;
  padding-bottom: 90px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    gap: 60px;
  }
}

.about-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    width: 100%;
    max-width: 594px;
    margin: 0;
  }
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-top-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e5e7eb;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.about-bottom-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e5e7eb;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.about-img-wrapper {
  @include media(desktop) {
    width: 100%;
    max-width: 594px;
  }
}

.about-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.about-list-item {
  padding: 20px;
  width: 100%;
  max-width: 171px;
  min-height: 159px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    max-width: 297px;
    min-height: 159px;
  }
}

.about-number {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #00fbf4;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 72px;
  }
}

.about-list-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
