.cookie-banner-section {
  background: #4b4d69;
  padding: 40px 16px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    padding: 40px 88px;
    max-width: 1440px;
  }
}

.cookie-banner-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.cookie-banner-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-align: center;
  color: #f0efff;
  margin-bottom: 20px;

  @include media(desktop) {
    text-align: left;
    max-width: 808px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
  }
}

.cookie-accept-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7a61f0;
  border-radius: 12px;
  padding: 12px 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #f0efff;
  width: 100%;
  max-width: 343px;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #5f4ac2;
  }

  @include media(desktop) {
    max-width: max-content;
  }
}

.cookie-decline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 11px 31px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  max-width: 343px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #4b4d69;
  }

  @include media(desktop) {
    max-width: max-content;
  }
}

.show-cookie-banner {
  display: block;
}
