.careers-section {
  padding-top: 30px;
  padding-bottom: 90px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.careers-container {
  @include media(desktop) {
  }
}

.careers-title-wrapper {
  @include media(desktop) {
  }
}

.careers-subtitle {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.careers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
  }
}

.careers-list-item {
  background: linear-gradient(
    145deg,
    rgba(215, 237, 237, 0.16) 0%,
    rgba(204, 235, 235, 0.16) 100%
  );
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 31px 39px;
  width: 100%;
  max-width: 343px;
  min-height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    max-width: 288px;
  }
}

.careers-icon-wrapper {
  @include media(desktop) {
  }
}

.careers-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.careers-list-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.careers-link {
  backdrop-filter: blur(14px);
  box-shadow: inset 0 2px 6px 0 rgba(255, 255, 255, 0.25);
  background: rgba(69, 218, 255, 0.14);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 11px 27px;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    background: rgba(69, 218, 255, 0.24);
  }

  @include media(desktop) {
    max-width: max-content;

    &:hover {
      background: rgba(69, 218, 255, 0.24);
    }
  }
}
