.contact-section {
  border-bottom: 2px solid #a4a3c3;
  border-top: 2px solid #a4a3c3;

  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-item-link {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, #8754ef 0%, #e962db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;

  @include media(desktop) {
    font-size: 56px;
  }
}

.contact-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
