.contact-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 120px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  background: #080b0e;
  border-radius: 8px;
  padding: 30px 0;

  @include media(desktop) {
    padding: 60px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}

.contact-text-wrapper {
  padding: 0 16px;
  margin-bottom: 40px;

  @include media(desktop) {
    padding: 0;
    max-width: 640px;
    margin-bottom: 0;
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.contact-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.contact-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-item-text-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include media(desktop) {
  }
}

.contact-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}

.contact-item-link {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-break: break-word;

  @include media(desktop) {
  }
}

.contact-item-location-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}

.contact-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
