.header {
  padding-top: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 16px;
  }
}

.header-container {
  padding: 0 24px;

  @include media(desktop) {
    padding: 0 96px;
  }
}

.nav {
  background: #0f1137;
  border-radius: 4px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    padding: 11px 16px;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include media(desktop) {
    gap: 8px;
  }
}

.header-logo-span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  background: linear-gradient(90deg, #fafbfb 0%, #e361dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.nav-list-link {
  padding: 4px 8px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #c3c4cd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #e361dc;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
