.header {
  padding-top: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-container {
  padding: 0 8px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  @include media(desktop) {
  }
}

.header-logo-span {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.nav-list-link {
  padding: 4px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
  }
}

.nav-list-link.active {
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
