.partners-section {
  padding-bottom: 60px;

  @include media(desktop) {
  }
}

.partners-container {
  @include media(desktop) {
  }
}

.partners-content-wrapper {
  border-radius: 8px;
  background-image: url(../img/partners/partners-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 30px;
  overflow: hidden;

  @include media(desktop) {
    background-image: url(../img/partners/partners-bg-desk.png);
    padding: 60px 30px;
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.partners-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    width: 100%;
    max-width: 484px;
    margin: 0;
  }
}

.partners-title-wrapper {
  @include media(desktop) {
  }
}

.partners-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.partners-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);

  @include media(desktop) {
  }
}

.partners-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
