.policy-section {
  background: #4b4d69;
  padding-top: 120px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 188px;
    padding-bottom: 120px;
  }
}

.policy-main-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #f0efff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 42px;
  }
}

.policy-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #f0efff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.policy-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #f0efff;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 20px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #f0efff;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 20px;
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
