.publications-section {
  padding-top: 30px;
  padding-bottom: 90px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.publications-container {
  @include media(desktop) {
  }
}

.publications-content-wrapper {
  @include media(desktop) {
    display: flex;
    gap: 60px;
  }
}

.publications-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    width: 100%;
    max-width: 594px;
    margin: 0;
  }
}

.publications-title-wrapper {
  @include media(desktop) {
  }
}

.publications-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.publications-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.publications-list {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
  }
}

.publications-list-item {
  padding: 8px 0;
  border-bottom: 1px solid #00fbf4;
  width: 100%;

  @include media(desktop) {
  }
}

.publications-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;

  @include media(desktop) {
  }
}

.publications-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #00fbf4;
  max-width: 309px;

  @include media(desktop) {
    max-width: 560px;
  }
}

.arrow-icon {
  min-width: 20px;

  @include media(desktop) {
  }
}

.publications-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
