.research-section {
  padding-top: 30px;
  padding-bottom: 90px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.research-container {
  @include media(desktop) {
  }
}

.research-title-wrapper {
  @include media(desktop) {
  }
}

.research-subtitle {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.research-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
  }
}

.research-list-item {
  background: linear-gradient(
    145deg,
    rgba(215, 237, 237, 0.16) 0%,
    rgba(204, 235, 235, 0.16) 100%
  );
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 31px 39px;
  width: 100%;
  max-width: 343px;
  min-height: 144px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 288px;
    min-height: 168px;
  }
}

.research-icon {
  @include media(desktop) {
  }
}

.research-list-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}
