.sound-faq-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/sound/sound-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/sound/sound-bg-desk.jpg);
  }
}

.sound-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.sound-container {
  @include media(desktop) {
  }
}

.sound-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #a4a3c3;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 842px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
}

.sound-text-span {
  color: #f0efff;

  @include media(desktop) {
  }
}

.sound-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1dc9e0 0%, #8455f1 50%, #e862dc 100%);
  border-radius: 16px;
  padding: 10px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
    max-width: 196px;
  }
}

.sound-btn-text-wrapper {
  @include media(desktop) {
  }
}

.sound-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.sound-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  @include media(desktop) {
  }
}
