.works-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.works-container {
  @include media(desktop) {
  }
}

.works-content-wrapper {
  border: 1px solid #a4a3c3;
  backdrop-filter: blur(20px);
  background-image: url(../img/works/works-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 26px;
  padding: 39px 15px;

  @include media(desktop) {
    padding: 59px 31px;
    background-image: url(../img/works/works-bg-desk.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.works-text-wrapper {
  @include media(desktop) {
    max-width: 592px;
  }
}

.works-title {
  text-align: left;

  @include media(desktop) {
  }
}

.works-list {
  list-style-type: disc;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #a4a3c3;
  margin-bottom: 56px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.works-list-item {
  @include media(desktop) {
  }
}

.works-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #a4a3c3;

  @include media(desktop) {
  }
}

.works-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
