<section class="section careers-section" id="careers">
  <div class="container careers-container">
    <div class="section-title-wrapper about-title-wrapper">
      <h2 class="section-title about-title">Careers</h2>
    </div>
    <p class="section-subtitle careers-subtitle">Join Byteon</p>
    <ul class="careers-list">
      <li class="careers-list-item">
        <div class="careers-icon-wrapper">
          <svg class="careers-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-research"></use>
          </svg>
        </div>
        <p class="careers-list-item-text">AI Research Fellows</p>
      </li>
      <li class="careers-list-item">
        <div class="careers-icon-wrapper">
          <svg class="careers-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-science"></use>
          </svg>
        </div>
        <p class="careers-list-item-text">Data Science Internships</p>
      </li>
      <li class="careers-list-item">
        <div class="careers-icon-wrapper">
          <svg class="careers-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-programs"></use>
          </svg>
        </div>
        <p class="careers-list-item-text">Postdoctoral Programs</p>
      </li>
      <li class="careers-list-item">
        <div class="careers-icon-wrapper">
          <svg class="careers-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-industry"></use>
          </svg>
        </div>
        <p class="careers-list-item-text">Industry Collaboration Residencies</p>
      </li>
    </ul>
    <a href="#home" class="careers-link">Apply Now</a>
  </div>
</section>
