<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <a href="mailto:info@maxtrix.online" class="contact-item-link"
          >info@maxtrix.online
        </a>

        <img
          class="contact-img"
          src="./img/contact/contact-img.png"
          alt="Screenshot of the game"
          width="298"
          height="298"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
