<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <div class="section-title-wrapper contact-title-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
        </div>
        <p class="section-subtitle contact-subtitle">
          Let’s build the future together
        </p>
        <ul class="contact-list">
          <li class="contact-list-item">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-collaboration"></use>
            </svg>
            <div class="contact-item-text-wrapper">
              <p class="contact-item-text">Research Collaboration:&nbsp;</p>
              <a
                href="mailto:research@truebyteon.space"
                class="contact-item-link"
                >research@truebyteon.space
              </a>
            </div>
          </li>
          <li class="contact-list-item">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-media"></use>
            </svg>
            <div class="contact-item-text-wrapper">
              <p class="contact-item-text">Media & Press:&nbsp;</p>
              <a href="mailto:media@truebyteon.space" class="contact-item-link"
                >media@truebyteon.space
              </a>
            </div>
          </li>
          <li class="contact-list-item">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg>
            <div class="contact-item-text-wrapper">
              <p class="contact-item-text">General Inquiries:&nbsp;</p>
              <a href="mailto:info@truebyteon.space" class="contact-item-link"
                >info@truebyteon.space
              </a>
            </div>
          </li>
          <li class="contact-list-item">
            <svg class="contact-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-address"></use>
            </svg>
            <p class="contact-item-location-text">
              Byteon LLC, Mäealuse 15, Tallinn, Estonia
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/contact/contact-img-mob.png"
          media="(min-width: 1440px)"
          width="548"
          height="412" />
        <source
          srcset="./img/contact/contact-img-mob.png"
          width="343"
          height="258" />
        <img
          class="contact-img"
          src="./img/contact/contact-img-mob.png"
          alt="Robotic hand"
          width="343"
          height="258"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
