<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Maxtrix a music game?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Nah, it's not really about music theory or anything like that - just
          making cool rhythmic stuff.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Do I need musical experience?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. We built it so you can just jump in and start experimenting
          without needing to know anything.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">What kinds of sounds are used?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Everyday noises such as footsteps, wind, rain, engines, doors, paper,
          dishes, and city ambience.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Is there a limit to how many sounds I can use?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Up to six sounds can be active at the same time.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are there goals or scores?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. It's more about making cool sounds than beating anyone.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I save or share my creations?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Sharing features depend on the platform and may be added later.
        </p>
      </li>
    </ul>
  </div>
</section>
