<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">Gameplay Overview</h2>
    <p class="gameplay-text">
      <span class="gameplay-text-span">You basically take</span> random sounds
      that aren't music and turn them into something
      <span class="gameplay-text-span">
        that aren't music and turn them into something that actually sounds
        good. Sounds are collected and unlocked through levels. Each level
        introduces a new sound set
      </span>
    </p>
    <ul class="gameplay-list">
      <li class="gameplay-list-item">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img1-mob.png"
            media="(min-width: 1440px)"
            width="187"
            height="220" />
          <source
            srcset="./img/gameplay/gameplay-img1-mob.png"
            width="343"
            height="220" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img1-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="220"
            loading="lazy"
        /></picture>
      </li>
      <li class="gameplay-list-item">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img2-mob.png"
            media="(min-width: 1440px)"
            width="187"
            height="220" />
          <source
            srcset="./img/gameplay/gameplay-img2-mob.png"
            width="343"
            height="220" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img2-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="220"
            loading="lazy"
        /></picture>
      </li>
      <li class="gameplay-list-item">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img3-mob.png"
            media="(min-width: 1440px)"
            width="187"
            height="220" />
          <source
            srcset="./img/gameplay/gameplay-img3-mob.png"
            width="343"
            height="220" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img3-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="220"
            loading="lazy"
        /></picture>
      </li>
      <li class="gameplay-list-item">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img4-mob.png"
            media="(min-width: 1440px)"
            width="187"
            height="220" />
          <source
            srcset="./img/gameplay/gameplay-img4-mob.png"
            width="343"
            height="220" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img4-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="220"
            loading="lazy"
        /></picture>
      </li>
    </ul>
  </div>
</section>
