<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="header-logo-link" href="./">
        <img
          class="hero-title-img"
          src="./img/header/header-logo-mob.png"
          alt="Logo"
          width="40"
          height="40"
        /><span class="header-logo-span">Byteon</span></a
      >
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#about">About</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#research"
            >Research Fields</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#projects">Projects</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#publications"
            >Publications</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#partners">Partners</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#careers">Careers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
      <button class="nav-btn" type="button" aria-label="Open mobile menu">
        <svg class="menu-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="close-btn" type="button" aria-label="Close mobile menu">
        <svg class="close-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
