<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="604"
            height="604" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="343"
            height="343" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Figure"
            width="343"
            height="343"
        /></picture>
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Shaping tomorrow’s computation.</h1>
          <p class="hero-text">
            Byteon merges AI, big data, and simulation science to design the
            next era of intelligence.
          </p>
          <a href="#contact" class="hero-link">Explore Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>
