<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-title-wrapper">
          <h1 class="hero-main-title">Music</h1>
          <p class="hero-subtitle">Is Everywhere</p>
        </div>
        <p class="hero-text">
          Take stuff like footsteps, wind sounds, whatever noise is around you -
          and make it rhythmic
        </p>
        <a class="hero-btn" href="#">
          <svg class="playstore-icon" width="26" height="29">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="hero-btn-top-text">GET IT ON</p>
            <p class="hero-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
