<div class="context-menu">
  <!-- <div class="container"> -->
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#research"
          >Research Fields</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#projects">Projects</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#publications"
          >Publications</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#partners">Partners</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#careers">Careers</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</div>
