<section class="section projects-section" id="projects">
  <div class="container projects-container">
    <div class="projects-content-wrapper">
      <div class="section-title-wrapper projects-title-wrapper">
        <h2 class="section-title projects-title">Projects</h2>
      </div>
      <p class="section-subtitle projects-subtitle">
        Turning data into innovation
      </p>
      <ul class="projects-list">
        <li class="projects-list-item">
          <picture>
            <source
              srcset="./img/projects/projects-img1-desk.png"
              media="(min-width: 1440px)"
              width="272"
              height="364" />
            <source
              srcset="./img/projects/projects-img1-mob.png"
              width="311"
              height="364" />
            <img
              class="projects-img"
              src="./img/projects/projects-img1-mob.png"
              alt="Figure"
              width="311"
              height="364"
              loading="lazy"
          /></picture>
          <p class="projects-list-item-text">
            AI-driven healthcare diagnostics
          </p>
        </li>
        <li class="projects-list-item">
          <picture>
            <source
              srcset="./img/projects/projects-img2-desk.png"
              media="(min-width: 1440px)"
              width="272"
              height="364" />
            <source
              srcset="./img/projects/projects-img2-mob.png"
              width="311"
              height="364" />
            <img
              class="projects-img"
              src="./img/projects/projects-img2-mob.png"
              alt="Figure"
              width="311"
              height="364"
              loading="lazy"
          /></picture>
          <p class="projects-list-item-text">
            Predictive climate-economic simulations
          </p>
        </li>
        <li class="projects-list-item">
          <picture>
            <source
              srcset="./img/projects/projects-img3-desk.png"
              media="(min-width: 1440px)"
              width="272"
              height="364" />
            <source
              srcset="./img/projects/projects-img3-mob.png"
              width="311"
              height="364" />
            <img
              class="projects-img"
              src="./img/projects/projects-img3-mob.png"
              alt="Figure"
              width="311"
              height="364"
              loading="lazy"
          /></picture>
          <p class="projects-list-item-text">
            Algorithmic risk detection in global finance
          </p>
        </li>
        <li class="projects-list-item">
          <picture>
            <source
              srcset="./img/projects/projects-img4-desk.png"
              media="(min-width: 1440px)"
              width="272"
              height="364" />
            <source
              srcset="./img/projects/projects-img4-mob.png"
              width="311"
              height="364" />
            <img
              class="projects-img"
              src="./img/projects/projects-img4-mob.png"
              alt="Figure"
              width="311"
              height="364"
              loading="lazy"
          /></picture>
          <p class="projects-list-item-text">Decentralized data ecosystems</p>
        </li>
      </ul>
    </div>
  </div>
</section>
