<section class="section publications-section" id="publications">
  <div class="container publications-container">
    <div class="publications-content-wrapper">
      <div class="publications-text-wrapper">
        <div class="section-title-wrapper publications-title-wrapper">
          <h2 class="section-title publications-title">Publications</h2>
        </div>
        <p class="section-subtitle publications-subtitle">
          Knowledge shared, progress accelerated.
        </p>
        <p class="publications-text">
          Upunitex is not another generic online school. We design AI-powered,
          adaptive learning journeys for adults who want to stay relevant in
          tech, business, and creative industries. Our focus is on practical
          skills, guided by expert mentors, enhanced with personalized AI
          tutoring.
        </p>
        <ul class="publications-list">
          <li class="publications-list-item">
            <a href="#contact" class="publications-item-link">
              <span class="publications-item-text"
                >"Neural Pathways in Predictive Healthcare"</span
              >
              <svg class="arrow-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="publications-list-item">
            <a href="#contact" class="publications-item-link">
              <span class="publications-item-text"
                >"AI for Climate Resilience: Modeling Future Economies"</span
              >
              <svg class="arrow-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="publications-list-item">
            <a href="#contact" class="publications-item-link">
              <span class="publications-item-text"
                >Open Dataset: European Urban Mobility Data 2020–2025</span
              >
              <svg class="arrow-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/publications/publications-img-mob.png"
          media="(min-width: 1440px)"
          width="594"
          height="464" />
        <source
          srcset="./img/publications/publications-img-mob.png"
          width="343"
          height="300" />
        <img
          class="publications-img"
          src="./img/publications/publications-img-mob.png"
          alt="Figure"
          width="343"
          height="300"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
