<section class="section research-section" id="research">
  <div class="container research-container">
    <div class="section-title-wrapper about-title-wrapper">
      <h2 class="section-title about-title">Research Fields</h2>
    </div>
    <p class="section-subtitle research-subtitle">Our domains of inquiry</p>
    <ul class="research-list">
      <li class="research-list-item">
        <svg class="research-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-ml"></use>
        </svg>
        <p class="research-list-item-text">
          Machine Learning & Neural Networks
        </p>
      </li>
      <li class="research-list-item">
        <svg class="research-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-big-data"></use>
        </svg>
        <p class="research-list-item-text">Big Data & Predictive Analytics</p>
      </li>
      <li class="research-list-item">
        <svg class="research-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-simulation-models"></use>
        </svg>
        <p class="research-list-item-text">
          Simulation Models for Climate & Economics
        </p>
      </li>
      <li class="research-list-item">
        <svg class="research-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-ai"></use>
        </svg>
        <p class="research-list-item-text">Human-AI Interaction & Ethics</p>
      </li>
    </ul>
  </div>
</section>
