<section class="section sound-section" id="sound">
  <div class="sound-bg-wrapper">
    <div class="container sound-container">
      <div class="section-title-wrapper about-title-wrapper">
        <h2 class="section-title about-title">Compose the Ordinary</h2>
      </div>
      <p class="sound-text">
        Turn everyday noise into rhythm.<br />
        <span class="sound-text-span"
          >Experiment with sounds, layer them, and build your own
          compositions</span
        >
        — no musical skills needed.
      </p>
      <a class="sound-btn" href="#">
        <svg class="playstore-icon" width="26" height="29">
          <use href="./img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="sound-btn-text-wrapper">
          <p class="sound-btn-top-text">GET IT ON</p>
          <p class="sound-btn-bottom-text">Google Play</p>
        </div>
      </a>
    </div>
  </div>
</section>
