<section class="section works-section" id="works">
  <div class="container works-container">
    <div class="works-content-wrapper">
      <div class="works-text-wrapper">
        <h2 class="section-title works-title">Interaction & Controls</h2>
        <ul class="works-list">
          <li class="works-list-item">
            <p class="works-list-item-text">Tap to add or remove a sound</p>
          </li>
          <li class="works-list-item">
            <p class="works-list-item-text">
              Sliders or knobs for volume and rhythm
            </p>
          </li>
          <li class="works-list-item">
            <p class="works-list-item-text">
              It's pretty easy to figure out just drag things around and see
              what happens
            </p>
          </li>
          <li class="works-list-item">
            <p class="works-list-item-text">
              You hear changes instantly as you tweak stuff
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/works/works-img-desk.png"
          media="(min-width: 1440px)"
          width="482"
          height="363" />
        <source
          srcset="./img/works/works-img-mob.png"
          width="311"
          height="363" />
        <img
          class="works-img"
          src="./img/works/works-img-mob.png"
          alt="Screenshot of the game"
          width="311"
          height="363"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
