@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/research.scss';
@import './components/projects.scss';
@import './components/publications.scss';
@import './components/partners.scss';
@import './components/careers.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy.scss';
